<nav role="navigation">
  <a href="/" class="home-logo-link">
    <img
    src="/assets/icons/TuringSchool_LogoMark_Gray.png"
    alt="Turing School of Software and Design logo">
  </a>
  <ul class="nav-links">
    <li class="uppercase">
      <a href="https://www.eventbrite.com/o/turing-school-of-software-design-9895674202" target="blank">
        Upcoming Workshops
      </a>
    </li>
    <li class="uppercase">
      <a href="https://turing.edu" target="blank">
        Turing School
      </a>
    </li>
    <li class="uppercase">
      <a href="https://go.oncehub.com/chatwithturingalumni" target="blank">
        Chat with an Alum
      </a>
    </li>
  </ul>
</nav>
