nav {
  border-bottom: 2px solid $light-gray;
  font-family: $standard-copy;
  font-weight: 700;
  z-index: 99;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style-type: none;

  a {
    color: $dark-gray;
    transition: border-color 0.3s;
    text-decoration: none;
  }

  li {
    margin: 10px;
    a:hover {
      border-bottom: 3px solid lighten($turing-secondary, 25%);
    }
  }
}

.home-logo-link img {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.nav-links a.active-link {
  border-bottom: 3px solid lighten($turing-secondary, 25%);
}

// @media (max-width: 1024px) {
//   .nav-links {
//     margin: 0 35px;
//     font-size: 0.9rem;
//     grid-template-columns: auto 200px 200px;
//     grid-template-rows: 90px;

//     .home-logo-link img {
//       height: 55px;
//       width: 55px;
//     }
//   }
// }

@media (max-width: 850px) {
  .nav-links {
    flex-direction: column;
    align-items: end;
    margin: 0px;
  }

  .home-logo-link img {
    height: 70px;
    width: 70px;
  }
}
